数据统计

In [4]:
import pandas as pd
data = pd.read_csv('./temps.csv')

data['friend'].mean()

60.03448275862069

In [5]:
data['friend'].median()

60.0

In [7]:
data['friend'].max()

95

# 1.分组，相当于合并

In [8]:
data

     year  month  day   week  temp_2  temp_1  average  actual  friend
0    2016      1    1    Fri      45      45     45.6      45      29
1    2016      1    2    Sat      44      45     45.7      44      61
2    2016      1    3    Sun      45      44     45.8      41      56
3    2016      1    4    Mon      44      41     45.9      40      53
4    2016      1    5   Tues      41      40     46.0      44      41
..    ...    ...  ...    ...     ...     ...      ...     ...     ...
343  2016     12   27   Tues      42      42     45.2      47      47
344  2016     12   28    Wed      42      47     45.3      48      58
345  2016     12   29  Thurs      47      48     45.3      48      65
346  2016     12   30    Fri      48      48     45.4      57      42
347  2016     12   31    Sat      48      57     45.5      40      57

[348 rows x 9 columns]

In [ ]:
data[['week', 'average']].groupby('week').mean() #选出两个列非常容易出错

         average
week
Fri    59.168000
Mon    59.928571
Sat    59.660000
Sun    60.357143
Thurs  59.426531
Tues   60.348077
Wed    59.414286

In [12]:
data[data['month'] > 11]

     year  month  day   week  temp_2  temp_1  average  actual  friend
317  2016     12    1  Thurs      52      52     47.4      46      39
318  2016     12    2    Fri      52      46     47.2      50      41
319  2016     12    3    Sat      46      50     47.0      49      58
320  2016     12    4    Sun      50      49     46.8      46      53
321  2016     12    5    Mon      49      46     46.6      40      65
322  2016     12    6   Tues      46      40     46.4      42      56
323  2016     12    7    Wed      40      42     46.3      40      62
324  2016     12    8  Thurs      42      40     46.1      41      36
325  2016     12    9    Fri      40      41     46.0      36      54
326  2016     12   10    Sat      41      36     45.9      44      65
327  2016     12   11    Sun      36      44     45.7      44      35
328  2016     12   12    Mon      44      44     45.6      43      42
329  2016     12   13   Tues      44      43     45.5      40      46
330  2016     12   14    Wed      43      40     45.4      39      49
331  2016     12   15  Thurs      40      39     45.3      39      46
332  2016     12   16    Fri      39      39     45.3      35      39
333  2016     12   17    Sat      39      35     45.2      35      38
334  2016     12   18    Sun      35      35     45.2      39      36
335  2016     12   19    Mon      35      39     45.1      46      51
336  2016     12   20   Tues      39      46     45.1      51      62
337  2016     12   21    Wed      46      51     45.1      49      39
338  2016     12   22  Thurs      51      49     45.1      45      38
339  2016     12   23    Fri      49      45     45.1      40      35
340  2016     12   24    Sat      45      40     45.1      41      39
341  2016     12   25    Sun      40      41     45.1      42      31
342  2016     12   26    Mon      41      42     45.2      42      58
343  2016     12   27   Tues      42      42     45.2      47      47
344  2016     12   28    Wed      42      47     45.3      48      58
345  2016     12   29  Thurs      47      48     45.3      48      65
346  2016     12   30    Fri      48      48     45.4      57      42
347  2016     12   31    Sat      48      57     45.5      40      57